/******************************
/* Common
/*****************************/

body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

p {
  margin: 1em 0;
}

a {
  color: #4685B3;
  text-decoration: none;
  display: inline;
}

a:hover {
  color: #213F54;
}

.content a:hover {
  text-decoration: underline;
}

.content {
  display: block;
  margin-bottom: 2em;
}

blockquote {
  color: #4f4f4f;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding: 1em;
  margin: auto;
}

blockquote p {
  display: inline;
}

/* code blocks and snippets */
.highlight {
  width: 50em;
  display: inline;
}

.highlight pre {
  border-radius: 4px;
  padding: 1.0em;
  background: #2b303b;
  overflow-x: auto;
  font-size: 14px;
}

/* .highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; } */
/* .highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; } */

/* Inline code */

p code {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px;
  color: #4f4f4f;
}

/******************************
/* Home
/*****************************/

.site {
  font-size: 110%;
  text-align: justify;
  width: 50em;
  line-height: 1.5em;
  margin: 3em auto 2em auto;
}

.sidebar {
  float: right;
  width: 220px;
  margin-right: -270px;
  border-radius: 4px;
  padding: 1em;
}
  #site-description {
    text-align: left;
  }
  .sidebar .nav {
    margin: 3px 0;
    list-style-type: none;
    text-align: left;
    padding-left: 0px;
  }
  .sidebar .title a {
    text-decoration: none;
    color: #000000;
  }
  .sidebar .title {
    width: 200px;
    padding: 10px;
    line-height: 1em;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
  }
  .title-first {
    font-size: 24px;
    margin-left: 7px;
    display: block;
    margin-bottom:-20px;
  }
  .title-second {
    font-size: 42px;
    display: block;
  }
  .sidebar .sidebar-footer {
    font-size: 20px;
  }
  .sidebar .sidebar-footer a {
    color: #000000;
  }
  .sidebar .sidebar-footer a:hover {
    color: #dfdfdf;
    transition: all 50ms ease-in;
  }

#gravatar {
  display: inline;
  border-radius: 50%;
  padding: 15px;
}

/******************************
/* Site
/*****************************/

footer {
  border-top: 2px #cccccc solid;
  color: #4f4f4f;
}

/******************************
/* Posts
/*****************************/

.content h1, #post .title {
  font-size: 1.5em;
  font-style: italic;
  text-align: left;
  margin-bottom: 0.25em;
  color: #ffffff;
  background: #4685B3;
  border-bottom: 4px solid #325F80;
  border-radius: 4px;
  padding: 0.5em;
}

ul.posts {
  padding: 0;
  list-style-type: none;
  margin-bottom: 2em;
  line-height: 1.5em;
}

#post .date, .posts .date {
  font-size: 12px;
  color: #aaaaaa;
}

.posts a {
  font-size: 20px;
  font-weight: bold;
}
