---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;',' &#8617;&#xfe0e;' }}
		</main>

		{% include footer.html %}

		{% if page.path contains '_posts' %}
			{% if content contains 'footnote' %}
      <script type="text/javascript" src="{{ site.baseurl}}/assets/bigfoot.min.js"></script>
      <script type="text/javascript">
        var bigfoot = $.bigfoot(
          {
            activateOnHover: false,
            deleteOnUnhover: false,
            preventPageScroll: false,
            hoverDelay: 500
          }
        );
      </script>
      {% endif %}
		{% endif %}

	</body>

</html>
